#scale img{
    transform: scale(1);
    transition: .3s ease-in-out;
}
#scale:hover img{
    transform: scale(1.1);
}
#left img{
    margin-left: 0px;
    transition: .3s ease-in-out;
}
#left:hover img{
    margin-left: 30px;
}
#blur img{
    filter: blur(3px);
    transition: .4s ease-in-out;
}
#blur:hover img{
    filter: blur(0);
}
#greyscale img{
    filter: grayscale(100);
    transition: .5s ease-in-out;
}
#greyscale:hover img{
    filter: grayscale(0);
}
